<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact | Personal Web</title>

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png" />
    <meta name="theme-color" content="#FE4E30" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body data-bs-theme="dark" class="bg-body-tertiary">
    <nav class="navbar sticky-top navbar-expand-lg bg-light-subtle shadow-sm">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/img/logo.png" alt="Logo" style="max-height: 30px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/project/add">Add Project</a>
            </li>
            <!-- <li class="nav-item">
                            <a class="nav-link" href="/testimonial">Testimonials</a>
                        </li> -->
          </ul>
          <a href="/contact" class="btn btn-primary" aria-current="page"> Contact Me </a>
        </div>
        <button class="btn btn-secodnary d-none d-lg-block switch-mode">
          <i class="fa-regular fa-sun"></i>
        </button>
      </div>
    </nav>

    <main>
      <!-- form project -->
      <section class="bg-body-secondary py-5">
        <div class="container d-sm-flex justify-content-center">
          <form class="form-project" onsubmit="getData(event)">
            <h2 class="h4 fw-bold text-center">GET IN TOUCH</h2>
            <br />
            <div class="mb-3">
              <label for="name" class="form-label fw-bold mb-0">Name</label>
              <input type="text" class="form-control border-0 shadow-sm w-100" id="name" name="name" required />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label fw-bold mb-0">Email</label>
              <input type="text" class="form-control border-0 shadow-sm w-100" id="email" name="email" required />
            </div>
            <div class="mb-3">
              <label for="email" class="form-label fw-bold mb-0">Phone Number</label>
              <input
                type="text"
                class="form-control border-0 shadow-sm w-100"
                id="phone"
                name="phone"
                inputmode="numeric"
                required
              />
            </div>
            <div class="mb-3">
              <label for="subject" class="form-label fw-bold mb-0">Subject</label>
              <select type="text" class="form-control border-0 shadow-sm w-100" id="subject" name="subject" required>
                <option value="Project Website">Project Website</option>
                <option value="Project Mobile">Project Mobile</option>
                <option value="Project IOT">Project IOT</option>
                <option value="Project Robotic">Project Robotic</option>
              </select>
            </div>
            <div class="mb-3">
              <label for="message" class="form-label fw-bold mb-0">Your Message</label>
              <textarea
                name="message"
                id="message"
                rows="6"
                class="form-control border-0 shadow-sm w-100"
                required
              ></textarea>
            </div>
            <div class="d-gid" id="technologies-container"></div>
            <div class="text-end mt-3">
              <button class="btn btn-dark" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer class="container">
      <nav class="fixed-bottom fw-100 bg-light-subtle d-flex flex-row shadow-lg d-lg-none justify-content-around">
        <div class="d-flex flex-column text-center">
          <a href="/" class="fs-3 m-2 text-body-emphasis mb-sm-0" aria-label="Home">
            <i class="fa-solid fa-house"></i>
          </a>
          <span class="d-none d-sm-inline">Home</span>
        </div>
        <div class="d-flex flex-column text-center">
          <a href="/project/add" class="fs-3 m-2 text-body-emphasis mb-sm-0" aria-label="Add Project">
            <i class="fa-solid fa-plus"></i>
          </a>
          <span class="d-none d-sm-inline">Add Project</span>
        </div>
        <!-- <div class="d-flex flex-column text-center">
                    <a href="/testimonials.html" class="fs-3 m-2 text-body-emphasis mb-sm-0" aria-label="Testimonials">
                        <i class="fa-solid fa-user-pen"></i>
                    </a>
                    <span class="d-none d-sm-inline">Testimonials</span>
                </div> -->
        <div class="d-flex flex-column text-center">
          <a href="/contact" class="fs-3 m-2 text-primary mb-sm-0" aria-label="Contact Me">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
          <span class="d-none d-sm-inline">Contact Me</span>
        </div>
        <div class="d-flex flex-column text-center">
          <a href="javascript:void(0)" class="fs-3 m-2 mb-sm-0 text-body-emphasis switch-mode" aria-label="Mode">
          </a>
          <span class="d-none d-sm-inline">Mode</span>
        </div>
      </nav>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script src="/js/dark-mode.js"></script>
    <script src="/js/script.js"></script>
  </body>
</html>