@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* #d3d3d3 */
body {
    background-color: #e3e7eb;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.container {
    margin: auto;
}

.bg-white {
    background-color: white;
}

/* button ===========================*/
.btn {
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    margin: 12px 0;
    border: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
}

.btn-black {
    background-color: black;
    color: white !important;
}

.btn-black:hover,
.btn-black.active {
    background-color: #fe4e30;
}

.btn-hamburger {
    font-size: 1.6em;
}

.card {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 24px;
}

.card-hero {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    padding: 24px;
    margin-top: 80px;
    display: flex;
}

.border-radius-sm {
    border-radius: 0.3rem;
}

.border-radius {
    border-radius: 0.4rem;
}

.border-radius-md {
    border-radius: 1rem;
}

.border-radius-lg {
    border-radius: 1.4rem;
}

.box-shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.text-link {
    text-decoration: none;
    color: black;
    display: block;
}

.text-link:hover {
    color: #fe4e30;
}

/* Navbar ===========================*/
header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

#nav-desktop {
    background-color: #f4f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

#nav-desktop ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
}

#nav-desktop ul li {
    margin-right: 25px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-desktop ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

#nav-desktop ul li .active,
#nav-desktop ul li a:hover {
    color: #fe4e30;
}

#nav-mobile {
    background-color: #d3d3d3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
}

#nav-mobile ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#nav-mobile ul li {
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    text-align: center;
}

#nav-mobile ul li a {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

#nav-mobile ul li .active,
#nav-mobile ul li a:hover {
    color: #fe4e30;
}

.img-logo {
    max-width: 40px;
}

/* Custom ===========================*/
.profile-picture > img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    min-width: 300px;
}

.profile-picture > figcaption {
    padding-bottom: 12px;
    text-align: center;
}

.profile-picture > figcaption > h1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.profile-picture > figcaption > p {
    margin-top: 0;
    margin-bottom: 4px;
}

/* contact */
.contact-list {
    list-style-type: none;
    margin: 16 0px;
    padding: 0;
    font-size: 2em;
    color: black;
}

.contact-list > li {
    display: inline-block;
    margin: 0px 8px;
}

.contact-form {
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.1en;
}

.form-input {
    margin-bottom: 18px;
    display: flex;
    flex-direction: column;
}

.form-input input,
.form-input textarea,
.form-input select {
    display: block;
    padding: 12px;
    border: none;
    border-radius: 0.3em;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    font-size: 1.2em;
    background-color: white;
}

.form-input textarea {
    font-size: 1.5em;
}

.form-input label {
    font-size: 1.1em;
    font-weight: 600;
}

.btn-submit {
    padding-left: 24px;
    padding-right: 24px;
    font-weight: bold;
}

/* CSS GRID =========================== */
#projects-list {
    padding-top: 60px;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 30px;
}

.project-item {
    border-radius: 12px;
    padding: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.project-item:hover {
    background-color: #f0f0f0;
}

.project-item > img {
    border-radius: 6px;
}

.project-item h1 {
    margin: 0;
}

.project-item p {
    margin: 0;
}

.project-item .project-btn {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.project-item .technologies {
    margin-top: 12px;
    margin-bottom: 12px;
}

.project-item .technologies i {
    font-size: 1.5em;
    margin-right: 16px;
}

.project-link {
    color: black;
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}

.project-link:hover {
    color: #fe4e30;
}

/* PROJECT DETAIL ====================== */
.project-detail-hero {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 40px;
}

.project-detail-hero h3 {
    margin-top: 0;
    margin-bottom: 12px;
}

.project-detail-hero .technologies {
    display: grid;
    grid-template-columns: auto auto;
}

/* UTILITIES =========================== */
/* Spacing */
.m-0 {
    margin: 0;
}

.p-0 {
    margin: 0;
}

.mt-80 {
    margin-top: 80px;
}

.mt-40 {
    margin-top: 40px;
}

.ml-16 {
    margin-left: 16px;
}

.ml-24 {
    margin-left: 24px;
}

.mr-8 {
    margin-right: 8px;
}

.w-100 {
    width: 100%;
}

.w-100 {
    padding-bottom: 12px;
}

.pl-8 {
    padding-left: 8px;
}

.w-50 {
    width: 50%;
}

.w-48 {
    width: 48%;
}

/* Display */
.d-flex {
    display: flex !important;
}

.d-block {
    display: block !important;
}

.d-inline {
    display: inline !important;
}

.d-grid {
    display: grid !important;
}

.d-none {
    display: none !important;
}

.justify-content-between {
    justify-content: space-between;
}

/* Text alginment */
.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

/* responsive ===========================*/
/* xs */
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
}

/* sm */
@media only screen and (min-width: 458px) {
    .container {
        width: 100%;
    }

    .btn-hamburger {
        display: none;
    }
}

/* md */
@media only screen and (min-width: 768px) {
    .date-input {
        display: flex;
        justify-content: space-between;
    }

    .date-input .form-input {
        width: 48%;
    }

    .container {
        width: 720px;
    }

    .project-item {
        grid-column-end: span 6;
    }
}

/* xl */
@media only screen and (min-width: 992px) {
    .container {
        width: 960px;
    }

    .project-item {
        grid-column-end: span 4;
    }
}

/* xxl */
@media only screen and (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

/* max width ==============================*/
/* sm */
@media only screen and (max-width: 457px) {
}

/* md */
@media only screen and (max-width: 767px) {
    .contact-form {
        padding-left: 1em;
        padding-right: 1em;
    }
    .menu-collapse {
        display: none !important;
    }

    .btn-hamburger {
        display: block;
    }

    .card-hero {
        display: block;
        margin-top: 0;
    }

    .profile-picture {
        max-width: 300px;
        margin: auto;
    }

    .contact-list {
        text-align: center;
    }

    .project-item {
        grid-column-end: span 12;
        margin-left: 8px;
        margin-right: 8px;
    }

    .date-input .form-input {
        width: 100%;
    }

    .date-input .form-input input {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

/* xl */
@media only screen and (max-width: 991px) {
}

/* xxl */
@media only screen and (max-width: 1199px) {
}
